<div class="row">
    <div class="col-3 p-1 border"> First Name </div>
    <div class="col-3 p-1 border"> Last Name </div>
    {% if has_member %}
    <div class="col-2 p-1 border"> Membership Expire Date </div>
    {% endif %}
    <div class="col-2"></div>
    <div class="col"></div>
</div>
{% for student in students %}
    <div class="row student_row" id="student-row-{{ student.id }}">
        <div class="col-3 p-1 border"> {{ student.first_name }} </div>
        <div class="col-3 p-1 border"> {{ student.last_name }} </div>
        {% if has_member %}
            <div class="col-2 p-1 border"> {{ student.member_expire }} </div>
        {% endif %}
        <div class="col-2 p-1">
            <button id="btn-edit-{{ student.id }}" class="btn btn-primary" type="button" student-id="{{ student.id }}">
                Edit
            </button>
        </div>
        <div class="col">

        </div>
    </div>
{% empty %}
    <div class="row">
        <div class="col">Please add a student.</div>
    </div>
{% endfor %}
