<div class="row">
    <table class="table table-bordered
        {% if user.dark_theme %}
            text-white
        {% else %}
            text-dark
        {% endif %}">
        <thead>
            <th> First Name </th>
            <th> Last Name </th>
            <th> Waiver </th>
            {% if has_member %}
                <th> Membership Expire Date </th>
            {% endif %}
            <th> </th>
        </thead>
        <tbody>
            {% for student in students %}
                <tr class="student_row" id="student-row-{{ student.id }}">
                    <td>{{ student.first_name }}</td>
                    <td>{{ student.last_name }}</td>
                    <td>
                        {% if student.signature_pdf %}
                            <a target="_blank" href="{% url 'registration:pdf' student.id %}">Waiver</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if has_member %}
                            {{ student.member_expire }}
                        {% endif %}
                    </td>
                    <td>
                        <button id="btn-edit-{{ student.id }}" class="btn btn-primary" type="button"
                                student-id="{{ student.id }}">
                            Edit
                        </button>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    Please add a student.
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>