{% extends 'base.html' %}

{% block title %} Decisions {% endblock %}

{% block script %}
    {% load static %}
{% endblock %}

{% block main %}
    <div class="row p-3">
        <h3>Decisions</h3>
    </div>
    <div class="p-3">
        <div class="row">
            <div class="col-2"> Date </div>
            <div class="col"> Decision </div>
        </div>
        {% for decision in decision_list %}
            <div class="row">
                <div class="col-2 p-1 border">
                    {{decision.decision_date}}
                </div>
                <div class="col p-1 border"> {{decision.text}} </div>
            </div>
        {% endfor %}
    </div>
    {% include 'student_app/paginate.html' %}
{% endblock %}