{% extends 'base.html' %}

{% block title %} Minutes List {% endblock %}


{% block main %}
    <form class="form m-2" method="get">
        <div class="d-flex flex-row m-2 justify-content-around align-items-center flex-wrap">
            <div>{{form.search_string.label}} {{form.search_string}} {{form.search_string.errors}}</div>
            <div class="flex-col m-2">
                <div>Search in:</div>
                <div>{{form.reports.label}} {{form.reports}} {{form.reports.errors}}</div>
                <div>{{form.business.label}} {{form.business}} {{form.business.errors}}</div>
            </div>
            <div>{{form.begin_date.label}} {{form.begin_date}} {{form.begin_date.errors}}</div>
            <div>{{form.end_date.label}} {{form.end_date}} {{form.end_date.errors}}</div>
            <button id="btn-start" class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>
    <div class="row p-3">
        <h3>Minutes List</h3>
    </div>
    {% for minutes in minutes_list %}
        <div class="row">
            <div class="col">
                <a href="{% url 'minutes:minutes' minutes.id %}">{{ minutes.meeting_date }}</a>
            </div>
        </div>
    {% endfor %}
    <div class="d-flex flex-row m-2">
        <div class="m-3">
            <a href="{% url 'minutes:minutes'%}" class="btn btn-primary" role="button">
                Add Minutes
            </a>
        </div>
    </div>
    {% include 'student_app/paginate.html' %}
{% endblock %}