<form class="form" id="unreg_form" method="post" action="{% url 'programs:unregister' form.family.id %}" autocomplete="off">
    {% csrf_token %}
    <table class="table table-bordered
            {% if user.dark_theme %}
                table-dark
            {% else %}
                table-light
            {% endif %}">
        <thead>
            <tr>
                <th> Class Date </th>
                <th> Name </th>
                <th> Payment Status </th>
                <th> Unregister/Cancel </th>
            </tr>
        </thead>
        <tbody>
        {% for field in form.get_boxes %}
        <tr>
            <td> {{ field.class_date }}</td>
            <td> {{ field.student }} </td>
            <td>
                {% if field.class_state == 'closed' %}
                    {{ field.pay_status|capfirst }}
                {% else %}
                    {% if field.pay_status == 'start' %}
                        <a href="{% url 'programs:resume_registration' field.reg %}">
                            Unsuccessful
                        </a>
                    {% elif field.pay_status == 'waiting' %}
                        <a href="{% url 'programs:wait_list' field.bcid %}">
                            {{ field.pay_status|capfirst }}
                        </a>
                    {% else %}
                        {{ field.pay_status|capfirst }}
                    {% endif %}
                {% endif %}
            </td>
            <td>
                {{ field }} {{field.label}} {{ field.errors }}
                <input class="unreg_cost" type="hidden" id="cost_{{ field.reg }}" value="{{ field.class_cost }}">
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4"> Not registered for any upcoming classes </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
    {% if form.can_unregister %}
        <div class="row p-2 form-check">
            <label class="form-check-label">
                {{ form.donation }}
                I wish to donate my refund to Woodley Park Archers
            </label>
        </div>

        <div class="flex-row m-2">
            <button class="btn btn-primary" type="submit">Unregister/Cancel</button>
        </div>
    {% endif %}
</form>
