coverage==7.8.0
cryptography==44.0.2
Django==5.2
django-allauth==65.7.0
django-celery-beat==2.8.0
django-csp==3.8
django-ipware==7.0.1
django-pandas==0.6.7
django-recaptcha==4.1.0
django-sendfile2==0.7.2
django-sslserver==0.22
gunicorn==23.0.0
numpy==2.2.1
phonenumbers==8.13.53
psycopg2-binary==2.9.9
pyenchant==3.2.2
pyjwt==2.8.0
python3-saml==1.16.0
reportlab==4.2.5
scikit-learn==1.6.1
squareup==37.1.0.20240604
xmlsec==1.3.14