coverage==7.8.0
cryptography==44.0.2
Django==5.2
django-allauth==65.7.0
django-celery-beat==2.8.0
django-csp==4.0
django-ipware==7.0.1
django-pandas==0.6.7
django-recaptcha==4.1.0
django-sendfile2==0.7.2
django-sslserver==0.22
gunicorn==23.0.0
numpy==2.2.5
phonenumbers==9.0.3
psycopg2-binary==2.9.10
pyenchant==3.2.2
pyjwt==2.10.1
python3-saml==1.16.0
reportlab==4.4.0
requests==2.32.3
scikit-learn==1.6.1
squareup==42.0.0.20250416
xmlsec==1.3.14