coverage==7.6.0
cryptography==42.0.8
Django==5.0.7
django-allauth==0.63.6
django-celery-beat==2.6.0
django-csp==3.8
django-ipware==7.0.1
django-pandas==0.6.7
django-recaptcha==4.0.0
django-sendfile2==0.7.1
django-sslserver==0.22
gunicorn==22.0.0
numpy==2.0.0
phonenumbers==8.13.40
psycopg2-binary==2.9.9
pyenchant==3.2.2
pyjwt==2.8.0
python3-saml==1.16.0
reportlab==4.2.2
scikit-learn==1.5.1
squareup==37.1.0.20240604