{% extends 'base.html' %}

{% block title %} JOAD Attendance {% endblock %}

{% block script %}
    {% load static %}
    <script src="{% static 'js/session.js' %}"></script>
    <script nonce="{{request.csp_nonce}}">
        {% if session_id %}
            let session_url = "{% url 'joad:session' session_id %}";
        {% else %}
            let session_url = "{% url 'joad:session' %}";
        {% endif %}
        let joad_class = {{ joad_class }};
        let attend_url = "{% url 'joad:attend' joad_class %}";
        let class_list_url = null;

    </script>
{% endblock %}

{% block main %}
{% csrf_token %}
    <table class="table table-bordered
        {% if user.dark_theme %}
            text-white
        {% else %}
            text-dark
        {% endif %}">
        <thead>
            <tr>
                <th> ID </th>
                <th> First Name </th>
                <th> Last Name </th>
                <th> Attending </th>
                <th> Signature </th>
                <th> Covid Vaccination</th>
            </tr>
        </thead>
        <tbody id="class-list-body">
            {% for row in object_list %}
                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.first_name }}</td>
                    <td>{{ row.last_name }}</td>
                    <td>
                        <input type="checkbox" class="m-2 attend-check" id="{{ row.check_id }}"
                            attend_url="{% url 'joad:attend' joad_class %}"
                            {% if row.checked %} checked="checked" {% endif %}>
                    </td>
                    <td>
                        <a class="nav-link" href="{% url 'joad:waiver' row.id %}">
                            {% if row.signature %}
                                Update Signature
                            {% else %}
                                Signature Required
                            {% endif %}
                        </a>
                    </td>
                    <td>
                        <input type="checkbox" class="m-2 attend-check"
                            attend_url="{% url 'registration:covid_vax' row.id %}"  id="{{ row.covid_vax_check }}"
                            {% if row.covid_vax %} checked="checked" {% endif %}>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
