{% extends 'base.html' %}

{% block title %} JOAD Attendance {% endblock %}

{% block script %}
    {% load static %}
    <script src="{% static 'js/session.js' %}"></script>
    <script>
        {% if session_id %}
            let session_url = "{% url 'joad:session' session_id %}";
        {% else %}
            let session_url = "{% url 'joad:session' %}";
        {% endif %}
        let joad_class = {{ joad_class }};
        let attend_url = "{% url 'joad:attend' joad_class %}";

    </script>
{% endblock %}

{% block main %}
{% csrf_token %}
    <table class="table table-bordered
        {% if user.dark_theme %}
            text-white
        {% else %}
            text-dark
        {% endif %}">
        <thead>
            <tr>
                <th> ID </th>
                <th> First Name </th>
                <th> Last Name </th>
                <th> Attending </th>
                <th> Signature </th>
            </tr>
        </thead>
        <tbody id="class-list-body">
            {% for row in object_list %}
                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.first_name }}</td>
                    <td>{{ row.last_name }}</td>
                    <td>
                        <input type="checkbox" class="m-2 attend-check" id="{{ row.check_id }}"
                            {% if row.checked %} checked="checked" {% endif %}>
                    </td>
                    <td>
                        <input type="checkbox" class="m-2" id="{{ row.check_id }}_sig" disabled="disabled"
                            {% if row.signature %} checked="checked" {% endif %}>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
