{% extends 'base.html' %}

{% block title %} JOAD Event Attendance {% endblock %}

{% block main %}
    <div class="row" message_text="{{ message }}" hidden id="message"><h3>"{{ message }}"</h3></div>

    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th> First Name </th>
                    <th> Last Name </th>
                    <th> Attending </th>
                    <th> Bow </th>
                    <th> Distance </th>
                    <th> Target </th>
                    <th> Inner Scoring </th>
                    <th> Score </th>
                    <th> Stars </th>
                </tr>
            </thead>
            <tbody id="class-list-body">
                {% for row in object_list %}
                    <tr>
                        <td>{{ row.reg.student.first_name }}</td>
                        <td>{{ row.reg.student.last_name }}</td>
                        <td>{{ row.pa.attended }}</td>
                        <td>{{ row.pa.bow }}</td>
                        <td>{{ row.pa.distance }}</td>
                        <td>{{ row.pa.target }}</td>
                        <td>{{ row.pa.inner_scoring }}</td>
                        <td>{{ row.pa.score }}</td>
                        <td>{{ row.pa.stars }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
