{% extends 'base.html' %}

{% block title %} JOAD Session {% endblock %}

{% block script %}
    {% load static %}
    <script src="{% static 'js/joad_registration.js' %}"></script>
    <script nonce="{{request.csp_nonce}}">
        let class_list_url = "{% url 'joad:class_list' %}";
        let session_status_url = "{% url 'joad:session_status' %}";
    </script>
{% endblock %}

{% block main %}
    <div class="row p-3" message_text="{{ message }}" hidden id="message"><h3>"{{ message }}"</h3></div>
    <div class="row p-3">
        {% if form.cancel_form %}
            <h3>JOAD Session Cancellation</h3>
        {% else %}
            <h3>JOAD Session Registration</h3>
        {% endif %}
    </div>
    <div class="row p-3">
        <form id="registration-form" method="post">
            {% csrf_token %}
            <div class="fieldWrapper">
                {{ form.session.errors }}
                {{ form.session.label_tag }}
                {{ form.session }}
                {{ form.session.id }}
            </div>
            <div id="status-div"></div>
            {% if form.student_count %}
                <div> Student(s): </div>
            {% endif %}
            {% for student in form.get_boxes %}
                <div class="input-group input-group-md">
                    {{ student }} {{ student.label }} {{ student.errors }}
                </div>
            {% empty %}
                {% if form.cancel_form %}
                    <div>Students must be approved by WPA prior to registering for a session.</div>
                {% else %}
                    <div>Students must be approved by WPA prior to registering for a session.</div>
                {% endif %}
            {% endfor %}
            {% if form.student_count %}
                <input id="session-btn" class="btn btn-primary" type="submit"
                   {% if form.cancel_form %}
                       value="Cancel Registration(s)"
                    {% else %}
                        value="Submit"
                {% endif %}>
            {% endif %}
        </form>
    </div>
    <hr>
    <div id="class-table-div" class="row p-3">
        <table class="table table-bordered
                {% if user.dark_theme %}
                    table-dark
                {% else %}
                    table-light
                {% endif %}">
            <thead>
                <tr>
                    <th> ID </th>
                    <th> Class Date </th>
                    <th> State </th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="class-list-body">
                {% for row in class_list %}
                    <tr>
                        <td>{{ row.id }}</td>
                        <td>{{ row.class_date }}</td>
                        <td>{{ row.state }}</td>
                        <td>
                            <button class="btn btn-primary edit-class" type="button" class_id="{{row.id}}">
                                Update
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="jc-form" class="row p-3"></div>
{% endblock %}

