{% extends 'base.html' %}

{% block title %} JOAD Sessions {% endblock %}

{% block main %}
    <div class="row" message_text="{{ message }}" hidden id="message"><h3>"{{ message }}"</h3></div>

    <div>
        <table class="table table-bordered
            {% if user.dark_theme %}
                text-white
            {% else %}
                text-dark
            {% endif %}">
            <thead>
                <tr>
                    <th> Start Date </th>
                    <th> State </th>
                    <th> Cost </th>
                </tr>
            </thead>
            <tbody id="class-list-body">
                {% for row in object_list %}
                    <tr>
                        <td>
                            {% if user.is_board %}
                                <a href="{% url 'joad:session' row.id %}">{{ row.start_date }}</a>
                            {% else %}
                                {{ row.start_date }}
                            {% endif %}
                        </td>
                        <td>{{ row.state }}</td>
                        <td>{{ row.cost }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'student_app/paginate.html' %}
{% endblock %}
