{% extends 'base.html' %}

{% block title %} JOAD Session {% endblock %}

{% block script %}
    {% load static %}
    <script src="{% static 'js/session.js' %}"></script>
    <script>
        {% if session_id %}
            let session_url = "{% url 'joad:session' session_id %}";
            let session_id = {{ session_id }};
            let joad_class_url = "{% url 'joad:joad_class' session_id%}";
        {% else %}
            let session_url = "{% url 'joad:session' %}";
            let session_id = null;
        {% endif %}
        let class_list_url = "{% url 'joad:class_list' %}";
    </script>
{% endblock %}

{% block main %}
    <div class="row p-3" message_text="{{ message }}" hidden id="message"><h3>"{{ message }}"</h3></div>
    <div class="row p-3">
        <form id="session-form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input id="session-btn" class="btn btn-primary" type="submit" value="Submit">
        </form>
    </div>
    <hr>
    <div id="class-table-div" class="row p-3"></div>
    <div class="row p-3">
        {% if session_id %}
            <button id="btn-add-class" class="btn btn-primary" type="button">
                Add Class
            </button>
        {% endif %}
    </div>
    <div id="jc-form" class="row p-3"></div>
{% endblock %}

