{% extends 'base.html' %}

{% block title %} JOAD Students {% endblock %}


{% block main %}
    <div class="m-2">
    <form class="form m-2" method="get">

        <div class="d-flex flex-row m-2">
            <div class="m-2 fieldWrapper">
                {{form.last_name.label_tag }} {{ form.last_name }}
            </div>
            <div class="m-2 fieldWrapper">
                {{form.first_name.label_tag }} {{ form.first_name }}
            </div>
            <div class="m-2 fieldWrapper">
                {{form.last_event.label_tag }} {{ form.last_event }}
            </div>
        </div>
      <input class="btn btn-primary" type="submit" value="Submit">
  </form>
    </div>
    <table class="table table-bordered m-2">
        <thead>
            <tr>
                <th> Student </th>
                <th> Bow </th>
                <th> Category </th>
                <th> Distance </th>
                <th> Target </th>
                <th> Inner Scoring </th>
                <th> Score </th>
                <th> Stars </th>
            </tr>
        </thead>
        <tbody id="class-list-body">
            {% for student in object_list %}
                <tr>
                    <td>
                        <a href="{% url 'registration:search_result' student.student_family.id %}">
                            {{ student.first_name|capfirst }} {{ student.last_name|capfirst }}
                        </a>
                    </td>
                    {% if last_event %}
                        <td>{{ student.pinattendance_set.last_event.bow }}</td>
                        <td>{{ student.pinattendance_set.last_event.category }}</td>
                        <td>{{ student.pinattendance_set.last_event.distance }}</td>
                        <td>{{ student.pinattendance_set.last_event.target }}</td>
                        <td>{% if student.pinattendance_set.last_event.inner_scoring %} X {% endif %}</td>
                        <td>{{ student.pinattendance_set.last_event.score }}</td>
                        <td>{{ student.pinattendance_set.last_event.stars }}</td>
                    {% else %}
                        <td>{{ student.pinattendance_set.high_score.bow }}</td>
                        <td>{{ student.pinattendance_set.high_score.category }}</td>
                        <td>{{ student.pinattendance_set.high_score.distance }}</td>
                        <td>{{ student.pinattendance_set.high_score.target }}</td>
                        <td>{% if student.pinattendance_set.high_score.inner_scoring %} X {% endif %}</td>
                        <td>{{ student.pinattendance_set.high_score.score }}</td>
                        <td>{{ student.pinattendance_set.high_score.stars }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include 'student_app/paginate.html' %}
{% endblock %}
