{% extends 'base.html' %}

{% block title %} Message List {% endblock %}


{% block main %}
    <div class="m-2"><h5>Messages:</h5></div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th> ID </th>
                <th> Category </th>
                <th> Spam Category </th>
                <th> Sent </th>
                <th> Submission Time </th>
            </tr>
        </thead>
        <tbody id="class-list-body">
            {% for message in object_list %}
                <tr>
                    <td><a href="{% url 'contact_us:contact' message.id %}"> {{ message.id }} </a></td>
                    <td>{{ message.category.title }}</td>
                    <td>{{ message.spam_category }}</td>
                    <td>{{ message.sent }}</td>
                    <td>{{ message.created_time }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No messages yet.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'student_app/paginate.html' %}
    {% if spam_list %}
        <a class="nav-link" href="{% url 'contact_us:message_list' %}">
            View non spam
        </a>
    {% else %}
        <a class="nav-link" href="{% url 'contact_us:message_list' 1 %}">
            View spam messages
        </a>
    {% endif %}

{% endblock %}
