{% extends 'base.html' %}

{% block title %} Class Sign up {% endblock %}

{% block main %}
    <div class="row" message_text="{{ message }}" hidden id="message"><h3>"{{ message }}"</h3></div>

    <form method="post">{% csrf_token %}
        {{ form.as_p }}

        {% if form.has_instance %}
            <button class="m-2 btn btn-primary" type="submit">
                Submit
            </button>
        {% endif %}

    </form>
    <p>If you are having technical difficulties you can also <a href="mailto:{{ email }}">email</a> us at {{ email }}</p>
{% endblock %}
