{% extends 'base.html' %}

{% block title %} Contact Us {% endblock %}

{% block script %}
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block main %}
    <div class="row" message_text="{{ message }}" hidden id="message"><h3>"{{ message }}"</h3></div>
    <p> Please check out our <a class="captcha-link" href="{% url 'information:faq' %}">FAQs</a> before contacting us.</p>
    {% if probably_human %}
        <form method="post">{% csrf_token %}
            {{ form.as_p }}
            <p>You will receive a copy of this message in an email.</p>
            <button class="m-2 btn btn-primary submit-btn" type="submit">
                Submit
            </button>
        </form>
    {% else %}
        <p>It looks like you might be a bot. If you are not, please check out our site and then come back.</p>
    {% endif %}
    <p>If you are having technical difficulties you can also <a href="mailto:{{ email }}">email</a> us at {{ email }}</p>
{% endblock %}
