{% extends 'base.html' %}

{% block title %} Election List {% endblock %}


{% block main %}
    <div>
        <table class="table table-bordered table-striped">
            <thead>
                <th> ID </th>
                <th> Date </th>
                <th> State </th>
                <th> </th>
            </thead>
            <tbody>
                {% for election in object_list %}
                    <tr>
                        <td>{{ election.id }}</td>
                        <td>{{ election.election_date }}</td>
                        <td>{{ election.state }}</td>
                        <td>
                            {% if election.state == 'open' %}
                                <a href="{% url 'membership:election_vote' election.id %}">Vote</a>
                            {% elif election.state == 'closed' %}
                                <a href="{% url 'membership:election_result' election.id %}">Results</a>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">No elections yet.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
