{% extends 'base.html' %}
{% block main %}
<form class="form" id="admit_form" method="post" autocomplete="off">
    {% csrf_token %}
    {{ formset.management_form }}
    {{ form.event }}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Student(s)</th>
                <th>Status</th>
                <th>Admit</th>
            </tr>
        </thead>
        <tbody>
            {% for student_form in formset %}
                <tr>
                    <td>{{ student_form.student }} {{ student_form.id }}</td>
                    <td>{{ student_form.pay_status|linebreaks }} </td>
                    <td> {{ student_form.admit }} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p class="mt-2 mb-2">
        Admitting student(s) will cause their card to be charged the admission fee.
    </p>


    <div class="d-flex flex-row justify-content-evenly m-2">
        <button class="btn btn-primary" type="submit">Admit Students</button>
        <a href="{% url 'events:event_attend_list' event_id %}">Return to List</a>
    </div>

</form>

{% endblock %}