{% extends 'base.html' %}

{% block title %} Beginner Class List {% endblock %}

{% block main %}
    <div class="row p-2" message_text="{{ message }}" hidden id="message"><h3>"{{ message }}"</h3></div>
    <div class="row p-2">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Beginners</th>
                    <th>Returnees</th>
                    {% if user.is_staff or user.is_instructor %}
                        <th>Instructors</th>
                    {% endif %}
                    <th>State</th>
                </tr>
            </thead>
            <tbody>
                {% for c in object_list %}
                    <tr>
                        <td>
                            <a class="nav-link" href="{% url 'programs:class_attend_list' c.id %}">
                                {{ c.event_date }}
                            </a>
                        </td>
                        <td>{{ c.beginner }}/{{ c.beginner_limit }}</td>
                        <td>{{ c.returnee }}/{{ c.returnee_limit }}</td>
                        <td>
                            {% if user.is_staff or user.is_instructor %}
                                {{ c.staff }}/{{ c.instructor_limit }}
                            {% endif %}
                        </td>
                        <td>{{ c.state }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'student_app/paginate.html' %}
    <div class="row p-2">
        <div class="col">
            {% if past %}
                <a class="nav-link" href="{% url 'programs:class_list' %}">
                    View upcoming classes
                </a>
            {% else %}
                <a class="nav-link" href="{% url 'programs:class_list' 1 %}">
                    View past classes
                </a>
            {% endif %}
        </div>

        {% if user.is_board %}
            <div class="col">
                <a class="nav-link" href="{% url 'programs:beginner_class' %}">
                    Add
                </a>
            </div>
        {% endif %}
    </div>

{% endblock %}

