{% extends 'base.html' %}

{% block title %} Class Calendar {% endblock %}


{% block main %}
    <h3> Class Calendar </h3>
    <div class="p-2">
        <p>
            {% if beginner_class %}
                The next available class for beginner students is {{ beginner_class.class_date }}
                {% if beginner_wait %}
                    The next wait list opening is {{ beginner_wait.class_date }}.
                {% endif %}
            {% else %}
                There are no classes available for beginner students at this time.
            {% endif %}
        </p>
        <p>
            {% if returnee_class %}
                The next available class for returning students is {{ returnee_class.class_date }}
                {% if returnee_wait %}
                    The next wait list opening is {{ returnee_wait.class_date }}.
                {% endif %}
            {% else %}
                There are no classes available for returning students at this time.
            {% endif %}
        </p>
    </div>
    <div class="row py-2">
        <div id="div-calendar">
            {{ html_cal }}
        </div>
    </div>
    <div id="div-calendar-btn" class="d-flex justify-content-between">
        <div>
            {% if not this_month %}
            <a href="{% url 'programs:calendar' previous.year previous.month %}" role="button" class="btn btn-primary m-1">
                Previous Month
            </a>
            {% endif %}
        </div>
        <div>
            <a href="{% url 'programs:calendar' next.year next.month %}" role="button" class="btn btn-primary m-1">
                Next Month
            </a>
        </div>
    </div>
{% endblock %}
