{% extends 'base.html' %}

{% block title %} Class Sign up {% endblock %}

{% block script %}
    {% load static %}
    <script src="{% static 'js/class_registration.js' %}"></script>

    <script>
        var month = {{ this_month }}
        url_unregister_class = "{% url 'programs:unregister_class' %}"
    </script>
{% endblock %}

{% block main %}
    <div class="row" message_text="{{ message }}" hidden id="message"><h3>"{{ message }}"</h3></div>
    <div class="row p-2 justify-content-center">
        <div class="col-3 text-center">
            <h4>Class Registration</h4>
        </div>
    </div>
    <div class="row p-2" id="registered_classes">
        <div class="col">
            <div class="row">You are registered for these upcoming classes.</div>
            <div class="row pt-1" id="registered_table"></div>
        </div>
    </div>
    <div class="row p-2">
        <p>
            Beginner classes are reserved for first time students only. Student's may only register for one upcoming
            beginner class.
        </p>
        <p> Returning students may register for multiple classes. </p>
    </div>
    <hr>
    <div class="row pt-2 text-center">
            <h5>Select a Class</h5>
    </div>
    <div class="row py-2">
<!--        <div class="col"></div>-->
        <div id="div-calendar"></div>
<!--        <div class="col"></div>-->
    </div>
    <div id="div-calendar-btn" class="row p-2">
        <div class="col">
            <button id="calendar-prev-btn" class="btn btn-primary m-1" type="button">
                Previous Month
            </button>
        </div>
        <div class="col"></div>
        <div class="col">
            <button id="calendar-show-btn" class="btn btn-primary m-1" type="button">
                Show Calendar
            </button>
        </div>
        <div class="col"></div>
        <div class="col">
            <button id="calendar-next-btn" class="btn btn-primary m-1" type="button">
                Next Month
            </button>
        </div>
    </div>
    <div class="row p-2">
        <form id="beginner-class-form" class="col form" method="post" action="{% url 'programs:class_registration' %}" autocomplete="off">
            {% csrf_token %}
            <input type="hidden" id="is_instructor" value="{{ user.is_instructor }}">
            <div class="row p-3">
                <div class="d-md-inline-flex">
                    <div class="text-right">Select a class date:</div>
                    <div class="input-group-md m-2">
                        {{ form.beginner_class }}
                    </div>
                    <div class="p-1" id="class-available"></div>
                </div>
                <div id="class-description"></div>
            </div>

            <div class="row p-1">
                <div class="col-4 text-right border">
                    Select students to enroll:
                </div>
                <div class="col">
                    {% for student in form.get_boxes %}
                        <div class="row">
                            <div class="col input-group input-group-md border">
                                {{ student }} {{ student.label }}
                            </div>
                            <div class="col border" id="is-new-student-{{ forloop.counter0 }}"></div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row pt-5">
                <div class="col">
                    <div class="row"><h4>ACCIDENT WAIVER AND RELEASE OF LIABILITY (AWRL)</h4></div>

                    <div class="row p-1 pl-3"> {% include "program_app/awrl.txt" %} </div>
                    <div class="row pt-3"><h4>COVID-19 Policy</h4></div>
                    <div class="row p-1 pl-3"> {% include "program_app/covid_policy.txt" %} </div>

                    <div class="row pt-3"><h4>Cancellation Policy</h4></div>
                    <div class="row p-1 pl-3"> {% include "program_app/cancellation_policy.txt" %} </div>
                    <div class="row pt-3"><h5>{{ form.terms }} {{ form.terms.label }}</h5></div>
                </div>
            </div>
            <div class="row p-2">
                <button class="btn btn-primary" type="submit"> Sign Up</button>
            </div>
        </form>
    </div>

    {% include "program_app/registration_dialogs.html" %}

{% endblock %}
