<!-- The Modal -->
<div class="modal" id="incompleteRegistration">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
    <div class="modal-header">
      <h4 class="modal-title">Incomplete Registration</h4>
      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>

    <!-- Modal body -->
    <div class="modal-body">
      <p> You have an incomplete payment and are not registered for the class.</p>
      <p>
        If you wish to process the payment click on the 'Started' link.
        If can't attend please unregister by selecting the class(es) you wish to cancel and click the Unregister button
      </p>
    </div>

    <!-- Modal footer -->
    <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
    </div>

    </div>
  </div>
</div>
