{% extends 'base.html' %}

{% block title %} Staff Attendance {% endblock %}

{% block main %}
    <div class="row" message_text="{{ message }}" hidden id="message"><h3>"{{ message }}"</h3></div>

    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary m-2" type="submit" name="button">Submit</button>
    </form>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th> Name </th>
                <th> Instructor Expire </th>
                <th> Instructor Level </th>
                <th> Classes Registered </th>
                <th> Classes Attended </th>
                <th> Points Earned </th>
            </tr>
        </thead>
        <tbody>
        {% for staff in staff_list %}
            <tr>
                <td> {{ staff.first_name }} {{ staff.last_name }}</td>
                <td> {{ staff.user.instructor_expire_date }} </td>
                <td> {{ staff.user.instructor_level }}</td>
                <td> {{ staff.registrations }} </td>
                <td> {{ staff.attended }} </td>
                <td> {{ staff.points|floatformat:"1" }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
