<div class="row justify-content-center">
    <div class="text-center">
        <h2> Posts </h2>
    </div>
</div>
<div id="fb-root"></div>


{% for post in object_list %}
    <div class="d-flex flex-row align-items-center p-3">
        <div class="mx-auto">{{ post.content|safe }}</div>
    </div>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

