<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
              crossorigin="anonymous">


        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery.cookie-consent/dist/jquery.cookie-consent.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
                integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
                integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
                crossorigin="anonymous"></script>
        <script src="https://www.google.com/recaptcha/api.js?onload=recaptchaCallback&render={{RECAPTCHA_SITE_KEY_V3}}" async defer></script>

        <script src="{% static 'js/main.js' %}"></script>
        <script nonce="{{request.csp_nonce}}">
            let url_theme = "{% url 'registration:theme' %}";
            let theme = "{{request.session.theme}}";
            let recaptcha_site_v3 = "{{RECAPTCHA_SITE_KEY_V3}}";
            let url_recaptcha = "{% url 'registration:recaptcha' %}";
            let recaptcha_url_list = [
                "{% url 'information:info' 'about' %}",
                "{% url 'information:info' 'directions' %}",
                "{% url 'information:info' 'class_description' %}",
                "{% url 'contact_us:contact' %}",
                "{% url 'payment:make_payment' %}",
                "{% url 'information:faq' %}",
                "{% url 'information:info' 'terms' %}",
                "{% url 'information:info' 'privacy' %}",
                "{% url 'information:info' 'covid' %}",
                "{% url 'information:info' 'constitution' %}",
                "{% url 'information:info' 'by-laws' %}",
                "{% url 'joad:index'%}",
                "{% url 'programs:calendar' %}",
                "{% url 'programs:google_calendar' %}",
                "{% url 'account_logout' %}",
                "{% url 'registration:profile' %}"
                ];
        </script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% block script %}{% endblock %}


        <title>{% block title %}{% endblock %}</title>

    </head>
    <body>
        {% include "nav.html" %}

        <div class="container-fluid m-md-3">
            <div class="row justify-content-center">
                <div class="col-6">
                    <img class="img-fluid pb-2" alt="Woodley Park Archers"
                        src="{% static 'images/WPAHeader4.jpg' %}" title="Woodley Park Archers">
                </div>
            </div>
            <input type="hidden" id="alert-message" value="{{ alert_message }}">
            <div class="row">
                <div class="col-lg-2">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% block left %}{% endblock %}
                </div>
                <div class="col-lg container block-main {{request.session.theme|default:'browser'}}-theme" id="block-main">
                    {% block main %}{% endblock %}
                </div>
                <div class="col-lg-2">
                    {% block right %}{% endblock %}
                    <form id="recaptcha-form" method="post" action="{% url 'registration:recaptcha' %}">{% csrf_token %}
                        {{ recaptcha_form.captcha }}
                        {{ recaptcha_form.url }}
                    </form>
                </div>

            </div>
        </div>

        <div class="modal" id="alert-warning">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- Modal Header -->
            <div class="modal-header">
              <h4 id="alert-title" class="modal-title"></h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" id="div-warning">
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>

            </div>
          </div>
        </div>

        <footer class="small text-center text-muted">

        </footer>
        {% block end_script %}
        {% endblock %}
    </body>
</html>