<nav class="navbar navbar-dark bg-dark border">
    <a class="navbar-brand" href="/"> <span class="green">Class Registrtion</span></a>

    <div class="navbar-expand-sm" id="navbar">
        <ul class="navbar-nav ml-auto mt-2">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPolicy" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Policies
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'registration:terms' %}">Terms</a>
                    <a class="dropdown-item" href="{% url 'registration:privacy' %}">Privacy</a>
                </div>
            </li>

            {% if user.is_authenticated %}
                {% if user.is_member %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMember" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Membership
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'membership:membership' %}">Membership</a>
                            <a class="dropdown-item" href="{% url 'membership:minutes_list' %}">Minutes</a>
                        </div>
                    </li>
                {% endif %}

                {% if user.is_board %}
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBoard" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Board Links
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'programs:class_list'%}">Beginner Class</a>
                        <a class="dropdown-item" href="{% url 'registration:search'%}">Search</a>
                        <a class="dropdown-item" href="{% url 'registration:student_list'%}">Student List</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'minutes:minutes_form'%}">New Minutes</a>
                        {% if user.is_superuser %}
                          <a class="dropdown-item" href="{% url 'payment:costs'%}">Costs</a>
                        {% endif %}
                      </div>
                    </li>
                {% endif %}
                {% if user.is_staff %}
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownStaff" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Staff Links
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'programs:class_list'%}">class list</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'registration:search'%}">Search</a>
                      </div>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'programs:class_registration' %}">Classes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'registration:profile' %}">Profile</a>

            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_signup' %}">Join</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
