nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;

}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    /* color: #2e944b; */
    color: rgb(157, 180, 143)
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}
.table_head
{

}

body {
    /* padding-top: 100px; */
    background-color: rgb(157, 180, 143)
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.5);

}
#block-main.browser-theme {
    background-color: var(--bs-white);
    --bs-text-opacity: 1;
    --text-color: var(--bs-dark-rgb);
    --table-background-color: var(--bs-white);
    color: rgba(var(--bs-dark-rgb),var(--bs-text-opacity)) !important;
}

#block-main.dark-theme {
    background-color: var(--bs-dark);
    --bs-text-opacity: 1;
    --text-color: var(--bs-light);
    --table-background-color: var(--bs-dark);
    color: var(--bs-light) !important;
}

#block-main.light-theme {
    background-color: var(--bs-white);
    --bs-text-opacity: 1;
    --text-color: var(--bs-dark-rgb);
    --table-background-color: var(--bs-white);
    color: rgba(var(--bs-dark-rgb),var(--bs-text-opacity)) !important;
}

@media (prefers-color-scheme: dark) {
    #block-main.browser-theme {
        background-color: var(--bs-dark);
        --bs-text-opacity: 1;
        --text-color: var(--bs-light);
        --table-background-color: var(--bs-dark);
        color: var(--bs-light) !important;
    }

}
.table {
    color: var(--text-color);
    background-color: var(--table-background-color);
}
.calendar {
  width: 98%;
  margin: auto;
  font-size: 13px;
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.calendar td {

  height: auto;
  padding: 5px 0px 0px 5px;
  vertical-align:top;
}

.month {
  font-size: 25px;
}

.date {
  font-size: 16px;
}


a {
  color: #17a2b8;
}

.card {
  box-shadow: 0 16px 48px #E3E7EB;
}

.img-max-300 {
  max-width: 300px;
  width:100%;
}
.hangingindent {
    padding-left: 50px ;
    text-indent: -50px ;
}