/* Variables */
:root {
  --color-green: rgb(157, 180, 143);  /* Main green color */
  --color-brown: #8d6625;
  --color-dark-brown: #372a13;
}

nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;

}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    /* color: #2e944b; */
    color: rgb(157, 180, 143);
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}
.table_head
{

}

body {
    /* padding-top: 100px; */
    background-color: rgb(157, 180, 143)
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.5);

}
#block-main.browser-theme {
    background-color: var(--bs-white);
    --bs-text-opacity: 1;
    --text-color: var(--bs-dark-rgb);
    --table-background-color: var(--bs-white);
    color: rgba(var(--bs-dark-rgb),var(--bs-text-opacity)) !important;
}

#block-main.dark-theme {
    background-color: var(--bs-dark);
    --bs-text-opacity: 1;
    --text-color: var(--bs-light);
    --table-background-color: var(--bs-dark);
    color: var(--bs-light) !important;
}

#block-main.light-theme {
    background-color: var(--bs-white);
    --bs-text-opacity: 1;
    --text-color: var(--bs-dark-rgb);
    --table-background-color: var(--bs-white);
    color: rgba(var(--bs-dark-rgb),var(--bs-text-opacity)) !important;
}

@media (prefers-color-scheme: dark) {
    #block-main.browser-theme {
        background-color: var(--bs-dark);
        --bs-text-opacity: 1;
        --text-color: var(--bs-light);
        --table-background-color: var(--bs-dark);
        color: var(--bs-light) !important;
    }

}
.table {
    color: var(--text-color);
    background-color: var(--table-background-color);
}
.calendar {
  width: 98%;
  margin: auto;
  font-size: 13px;
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.calendar td {

  height: auto;
  padding: 5px 0px 0px 5px;
  vertical-align:top;
}

.month {
  font-size: 25px;
}

.date {
  font-size: 16px;
}


a {
  color: #17a2b8;
}

.card {
  box-shadow: 0 16px 48px #E3E7EB;
}

.img-max-300 {
  max-height: 300px;
  max-width: 300px;
  width:100%;
}
.hangingindent {
    padding-left: 50px ;
    text-indent: -50px ;
}

.btn-work {
    background-color: var(--bs-gray);
    color: var(--bs-white);
}

.banner-img {
  width: 100%;
}

.welcome-img {
  margin: 0 1rem !important;
}

#block-main {
  padding: 14px;
}

.header-divider {
  border: 1px solid white;
}

/* NAVIGATION BAR */

#navbar {
  background-color: var(--bs-dark);
  width: 100%;
  float: right;
  padding: 0px 10px 10px 10px;
  margin-bottom: 12px;
}

.navbar-custom {
  width: fit-content;
  float: left;
}

.navbar-right-container {
  float: right;
  display: inline-flex;
}

/* SOCIAL MEDIA LINKS */

.navbar-right-container svg {
  fill: white;
  margin: 0.5rem 0.1rem;
  padding: 0.2rem;
}

/* LOGIN BAR */

.login-container {
  width: 100%;
  color: var(--bs-white);
  background-color: var(--bs-dark);
  padding: 10px 10px 0px 10px;
  text-align: right;
}

.login-bar-form-element {
  text-align: left;
  width: fit-content;
  display: inline-block;
  font-size: 12px;
}

#login-bar-button {
  font-size: 12px;
  padding: 2px 6px 2px 6px;
  margin-left: 6px;
  background-color: var(--color-brown);
  border: none;
}

/* UI BUTTONS */
.signup-button {
  background-color: var(--color-brown);
  color: var(--color-white);
  padding: 20px;
  width: 200px;
  font-family: "Verdana", sans-serif;
  font-size: 28px;
  font-weight: 500;
  border-radius: 10px;
  border: 2px solid var(--bs-white);
  margin: 10px;
}

.signup-button-container {
  text-align: center;
}

/* MESSAGES */

#messages-container {
  text-align: center;
}
