<form class="col form" method="post" autocomplete="off" id="student_form">
    {% csrf_token %}
    <div class="row">
        <div class="col input-group input-group-md">
            {{ form.first_name }}
            {% for error in form.first_name.errors %}
                <p class="help-block">{{ error }}</p>
            {% endfor %}
        </div>
        <div class=" col input-group input-group-md">
            {{ form.last_name }}
            {% for error in form.last_name.errors %}
                <p class="help-block">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="col input-group input-group-md">
            <div class="row">
                {{ form.dob }}
                {% for error in form.dob.errors %}
                    <p class="help-block">{{ error }}</p>
                {% endfor %}
            </div>
            <div id="dob-error" class="row text-danger"></div>
        </div>
        {% if user.is_staff %}
            <div class="col input-group input-group-md">
                <div class="row">Safety Class</div>
                <div class="row mx-auto">
                    {{ form.safety_class }}
                    {% for error in form.safety_class.errors %}
                        <p class="help-block">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
    {% if not student_is_user %}
        <div class="row">
            <div class="col pt-2 ml-2">
                If you add an email below we will email them asking them to join, and they will be associated with this account.
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col">
            {{ form.email }}
            {% for error in form.email.errors %}
                <p class="help-block">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="col-2 m-2 d-flex align-items-center">
            {% if student_this_user %}
                <a href="{% url 'account_email' %}">Edit Email</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <button id="btn-student-form-add" class="btn btn-primary" type="submit">Add</button>
        </div>
        <div class="col-2">
            <button id="btn-student-form-close" class="btn btn-primary">Close</button>
        </div>
    </div>
</form>