{% extends 'base.html' %}
{% block title %}
    Payment Form
{% endblock %}

{% block script %}
    {% load static %}
    <!-- link to the SqPaymentForm library -->
    <script type="text/javascript" src="{{ paydict.pay_url }}"></script>

    <script type="application/javascript">
        window.applicationId = '{{ paydict.app_id }}';
        window.locationId = '{{ paydict.location_id }}';
        window.action_url = '{{ paydict.action_url }}';
    </script>

    <!-- link to the local SqPaymentForm initialization -->
    <script src="{% static 'js/sq-payment-form.js' %}"></script>

    <!-- link to the custom styles for SqPaymentForm -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/sq-payment-form.css' %}">
{% endblock %}

{% block main %}
  <div class="row hidden">
    <div class="col" id="message"> {{ message }}</div>
  </div>
  <div class="p-1">
    {% if donation %}
      <div class="row"><h4>Donation</h4></div>
      <div class="p-1"> This is a donation only and will not register you for any classes.</div>
    {% else %}
      <div class="row"><h4>Purchase Items</h4></div>
    {% endif %}
    <div class="row m-1">
      <table class="col table table-bordered
        {% if user.dark_theme %}
            text-white
        {% else %}
            text-dark
        {% endif %}">
        <thead>
            <tr>
              <th> Item </th>
              <th> Quanity </th>
              <th> Amount each </th>
              <th> Amount </th>
            </tr>
        </thead>
        <tbody id="class-list-body">
            {% for row in rows %}
              <tr>
                  <td>{{ row.name }}</td>
                  <td>{{ row.quantity }}</td>
                  <td>{{ row.amount_each }}</td>
                  <td>{{ row.amount_total }}</td>
              </tr>
            {% endfor %}
            <tr>
                <td>Donation</td>
                <td colspan="2">
                    <textarea name="note" cols="20" rows="4" class="form-control" id="id_note"
                              placeholder="Note (optional)"></textarea>
                </td>
                <td><input type="number" value="0" id="donation"></td>
            </tr>
            <tr>
                <td>Total</td>
                <td></td>
                <td></td>
                <td id="total-div">{{ total }}</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>

  {% if bypass %}
    <div class="row p-2">
      <form method="post" autocomplete="off" class="form">
        {% csrf_token %}
        <input type="hidden" id="bypass" name="bypass" value="">
          <button class="btn btn-primary m-2" type="submit" id="id_submit">Comp</button>
      </form>
    </div>
  {% endif %}
  <div class="row p-3">
    Payments are processed with Square. Your credit card information is not stored on our servers.
  </div>
  <div class="row">
      <form class="col" id="payment-form" novalidate action="/payment/process_payment" method="post">
        {% csrf_token %}
        <input type="hidden" id="sq_token" name="sq_token" value="bypass">
        <div id="card-container"></div>
        <button class="btn btn-primary m-2" id="card-button" type="button"> Pay Now </button>
      </form>
  </div>
  <div class="row p-3">
    <div class="col" id="payment-status-container"></div>
    <div class="col" >
      <a id="receipt" href=""> Receipt </a>
    </div>
    <div class="col" >
      <a id="index-link" href="{% url 'registration:index'%}"> Home </a>
    </div>
  </div>

{% endblock %}
