{% extends 'base.html' %}

{% block title %} Beginner Class List {% endblock %}

{% block main %}
    <div class="row" message_text="{{ message }}" hidden id="message"><h3>"{{ message }}"</h3></div>

    <div class="row">
        <div class="col">
            Date
        </div>
        <div class="col">
            Beginners
        </div>
        <div class="col">
            Returnees
        </div>
        <div class="col">
            State
        </div>
    </div>

    {% for c in object_list %}
        <div class="row">
            <div class="col">
                <a class="nav-link" href="{% url 'registration:beginner_class' c.id %}">
                    {{ c.class_date }}
                </a>
            </div>
            <div class="col">
                {{ c.enrolled_beginners }}/{{ c.beginner_limit }}
            </div>
            <div class="col">
                {{ c.enrolled_returnee }}/{{ c.returnee_limit }}
            </div>
            <div class="col">
                {{ c.state }}
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <a class="nav-link" href="{% url 'registration:beginner_class' %}">
            Add
        </a>
    </div>

{% endblock %}

