{% extends 'base.html' %}

{% block title %} Beginner Class {% endblock %}

{% block main %}
    <div class="row" message_text="{{ message }}" hidden id="message"><h3>"{{ message }}"</h3></div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
    <hr/>
    <div class="row pt-3">
        {% if attendee_form %}
            <form class="col" method="post">{% csrf_token %}
                <input type="hidden" name="attendee_form" value="on">
                <div class="row border"> New Students </div>
                <div class="row">
                    <div class="col-1 border">ID</div>
                    <div class="col-3 border">First Name</div>
                    <div class="col-3 border">Last Name</div>
                    <div class="col-3 border">Date of Birth</div>
                    {% if attendee_form.is_closed %}
                        <div class="col-2 border">Attending</div>
                    {% endif %}
                </div>
                {% for s in attendee_form.new_students %}
                    <div class="row">
                        <div class="col-1 border">{{ s.id }}</div>
                        <div class="col-3 border">{{ s.first_name }}</div>
                        <div class="col-3 border">{{ s.last_name }}</div>
                        <div class="col-3 border">{{ s.dob }}</div>
                        {% if attendee_form.is_closed %}
                            <div class="col-2 border">
                                <input type="checkbox" name="{{ s.check }}" class="m-2" id="{{ s.check }}"
                                {% if s.checked %} checked="" {% endif %}>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="row border"> Returning Students </div>
                {% for s in attendee_form.return_students %}
                    <div class="row">
                        <div class="col-1 border">{{ s.id }}</div>
                        <div class="col-3 border">{{ s.first_name }}</div>
                        <div class="col-3 border">{{ s.last_name }}</div>
                        <div class="col-3 border">{{ s.dob }}</div>
                        <div class="col-2 border">
                            <input type="checkbox" name="{{ s.check }}" class="m-2" id="{{ s.check }}">
                        </div>
                    </div>
                {% endfor %}
                <input type="submit" value="Submit">
            </form>
        {% endif %}
    </div>
{% endblock %}

