{% extends 'base.html' %}

{% block title %} Class Sign up {% endblock %}

{% block script %}
    {% load static %}
    <script src="{% static 'js/class_registration.js' %}"></script>
{% endblock %}

{% block main %}
    <div class="row" message_text="{{ message }}" hidden id="message"><h3>"{{ message }}"</h3></div>
    <div class="row p-2">
        <form class="col form" method="post" action="{% url 'registration:class_registration' %}" autocomplete="off">
            {% csrf_token %}
            <div class="row">
                <div class="input-group input-group-md">
                        {{ form.beginner_class }}
                </div>
            </div>
            {% for student in form.get_boxes %}
                <div class="row">
                    <div class="input-group input-group-md">
                        {{ student }} {{ student.label }}
                    </div>
                </div>
            {% endfor %}
            <div class="row">
                <button class="btn btn-primary" type="submit"> Sign Up</button>
            </div>
        </form>
    </div>

    <div class="row p-2" id="registered_table">

    </div>
{% endblock %}
