{% extends 'base.html' %}

{% block title %} Class Sign up {% endblock %}

{% block main %}
    <div class="row" message_text="{{ message }}" hidden id="message"><h3>"{{ message }}"</h3></div>

    <form method="post" action="{% url 'registration:student_register' %}" autocomplete="off" class="form">
    {% csrf_token %}
        <div class="row">
            {% for student in students %}
                <div class="input-group input-group-md">
                    {{ form.beginner_class }}
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="input-group input-group-md">
                {{ form.student }}
            </div>
        </div>
        <div class="row">
            <div class="input-group input-group-md">
                {{ form.new_student }}
            </div>
        </div>
    </form>

{% endblock %}
