{% extends 'base.html' %}

{% block title %} By-Laws {% endblock %}

{% block main %}

<div class="row justify-content-center">
    <div class="col-4 text-center"><h2> Constitution </h2></div>
</div>

<table>
    <tr>
        <td class="pe-2"><h3>1.</h3></td>
        <td><h3>NAME OF ORGANIZATION</h3></td>
    </tr>
    <tr>
        <td></td>
        <td>
            The name of this organization shall be the “WOODLEY PARK ARCHERS,” indicated in abbreviation as the WPA.
        </td>
    </tr>
    <tr>
        <td class="pe-2"><h3>2.</h3></td>
        <td><h3>Purpose of WPA</h3></td>
    </tr>
    <tr>
        <td></td>
        <td>
            The WPA shall be operated exclusively for educational, charitable, and social purposes and to perpetuate,
            foster, and elevate the sport of archery through education; the promotion of youth, family, group, and
            individual archery participation, and the proper care and use of archery equipment, as well as the direction
            and practice of proper archery techniques, form, and etiquette. Other main objectives include the promotion
            of self discipline, teamwork, fellowship, and good sportsmanship, which is achieved by teaching classes in
            all areas and levels of archery, conducting tournaments, and by holding social events. The WPA shall be
            non-sectarian and non-political in its activities. All monies & assets raised or received by WPA shall be
            used for the purpose stated above. No part of net earnings shall benefit any private individual.
        </td>
    </tr>
    <tr>
        <td class="pe-2"><h3>3.</h3></td>
        <td><h3>Membership:</h3></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <table>
                <tr>
                    <td class="h4 align-top pe-2">3.1 </td>
                    <td class="h4 align-top">Membership Levels</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <p>
                            Term of membership shall be from the date signed on application. There shall be levels of
                            membership including: Adult, Junior, and Family. The Board may vote to waive the dues for any
                            adult, family, or junior membership because of financial hardship. Membership dues and
                            additional levels shall be established and set by the current board and shall be maintained in
                            a separate addendum (WPA Membership Addendum).
                        </p>
                        <p>
                            All memberships require an application, payment of dues, and approval of the WPA board
                        </p>
                        <table>
                            <tr>
                                <td class="align-top pe-2">3.1.1 </td>
                                <td>
                                    Adult Membership shall be granted to persons who have attained their 18th birthday,
                                </td>
                            </tr>
                            <tr>
                                <td class="align-top pe-2">3.1.2 </td>
                                <td>
                                    Junior Membership shall be granted to anyone under 18 years of age. Junior members
                                    may use WPA equipment under adult supervision. Junior members may be members of our
                                    JOAD program. Juniors who are not JOADs are not required to join the WPA to
                                    participate in non-JOAD activities. Only members 18 years and older may hold an
                                    elected position on the Board.
                                </td>
                            </tr>
                            <tr>
                                <td class="align-top pe-2">3.1.3 </td>
                                <td>
                                    Family Membership shall be granted to families members, including husband, wife,
                                    domestic partners, and dependents, under 18 years of age.  Four family members are
                                    covered under the basic family membership fee with an additional nominal cost per
                                    member over four members. Family members may be participants in the Woodley Park
                                    Archers JOAD.  Full time students may remain under family membership through their
                                    20th year of age. All family members of voting age may vote in WPA elections and
                                    activities.
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="h4 align-top pe-2">3.2 </td>
                    <td class="h4 align-top">
                        Annual Dues For Membership
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        Membership dues shall be set by the current board and shall be maintained in the attached WPA
                        Membership Addendum. (Remove paragraph below and add to addendum)
                    </td>
                </tr>
                <tr>
                    <td class="h4 align-top pe-2">3.3 </td>
                    <td class="h4">
                        Membership Qualification of WPA
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <table>
                            <tr>
                                <td class="align-top pe-2">3.3.1 </td>
                                <td>
                                    Members in good standing of the WPA at any time shall be those persons who have
                                    satisfied the following requirements:
                                </td>
                            </tr>
                            <tr>
                                <td class="align-top pe-2"></td>
                                <td>
                                    <table>
                                        <tr>
                                            <td class="align-top pe-2">3.3.1.1</td>
                                            <td>
                                                Have paid their dues for the membership year.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-top pe-2">3.3.1.1</td>
                                            <td>
                                                Have not died, resigned, been expelled from membership, or formally
                                                disciplined by the board; have agreed to abide by the WPA's Constitution,
                                                Bylaws, Range Safety Rules, have signed the waiver, and membership
                                                application.
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-top pe-2">3.3.2 </td>
                                <td>
                                    Membership in the WPA is at the discretion of the Board of Directors, which may
                                    accept or reject any application for good cause by a majority vote;
                                </td>
                            </tr>
                            <tr>
                                <td class="align-top pe-2">3.3.3 </td>
                                <td>
                                    No member of the WPA in arrears shall be eligible to vote, hold office, or to enjoy
                                    any of the privileges or benefits offered by this organization.
                                </td>
                            </tr>
                            <tr>
                                <td class="align-top pe-2">3.3.4 </td>
                                <td>
                                    New members must have paid their dues prior to any meeting to be eligible to vote
                                    in that meeting.
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<button class="btn btn-primary" onclick="goBack()">Go Back</button>

<script>
        function goBack() {
          window.history.back();
        }
    </script>
{% endblock %}
