{% extends 'base.html' %}

{% block title %} Welcome {% endblock %}

{% load static %}
{% block main %}
<div class="row justify-content-center">
    <div class="col-4 text-center">
        <h2> Welcome </h2>
    </div>
</div>
<hr class="header-divider">
<div class="container">
    {% include 'info/announcement_insert.html' %}
</div>
<div class="d-flex flex-row">
    <div class="m-2">
        <img class="rounded float-start welcome-img img-fluid" alt="Welcome Sign"
            src="{% static 'images/WelcomeSign_400.jpg' %}" title="Woodley Park Archery Range Welcomes You" 
            width="400" height="228" style="top: 0px;">
        <p>
            Register online for our Introductory and Returning Student classes! All students must be at least nine years old
            and must register and pay the $5 administration fee here as well as comply with our Covid-19 policy. For more
            information, see our Classes and Activities page.
        </p>
        <p>
            The Woodley Park Archery Range is located in the San Fernando Valley, near the junction of the 405 and 101
            freeways. The range is open from sunrise to sundown, seven days a week, except during WPA classes, activities
            and events (check the WPA Range Schedule for closures.) The range was founded in 1984 by the Easton Sports
            Development Foundation as a training facility for the Olympic Games, and is maintained by the Woodley Park
            Archers, the U.S. Army Corp. of Engineers and Los Angeles Department of Recreation and Parks.
        </p>
        <p>
            For more complete information about the range, please follow this
            <a href="information/info/about/">link.</a>
            For directions and a map, please click
            <a href="information/info/directions/">here.</a>
        </p>
        <p>
            In order to sign up for a class you will need to create an account and provide some information.
            Use the link below to create an account!
            <form class="signup-button-container" action="accounts/signup/">
                <button class="signup-button">Join Us!</button>
            </form>
        </p>
    </div>
</div>
<hr class="header-divider">
{% include "facebook/post_list_insert.html" %}

{% endblock %}

{% block right %}
<div id="login-div"></div>
{% endblock %}