{% extends 'base.html' %}

{% block title %} Index {% endblock %}

{% block main %}
  <div class="row justify-content-center">
    <div class="col-4 text-center"><h2> Class Registration </h2></div>
  </div>
  {% if not user.is_authenticated %}
    <div class="row">

      <div class="col">
        <p>In order to sign up for a class you will need to create an account and provide some information.</p>
        <p>
          The first step is to
          <a href="{% url 'account_signup' %}">join.</a>
           If you already have an account, please
          <a href="{% url 'account_login' %}">log in.</a>
        </p>
      </div>
    </div>

  {% endif %}
{% endblock %}

{% block right %}
  <div id="login-div"></div>
{% endblock %}