{% extends 'base.html' %}

{% block title %} Index {% endblock %}

{% block main %}
<div class="row p-3 align-items-center mx-auto">
    <div class="col-12">
        <h2> Profile Page </h2>
    </div>
</div>
<div class="row p-3 align-items-center mx-auto">
    <div class="col-12">
        <h3> Students </h3>
    </div>
</div>
    {% for student in students %}
        <div class="row">
            <div class="col">
                <a class="nav-link" href="{% url 'registration:add_student' student.id %}">
                    {{ student.first_name }} {{ student.last_name }}
                </a>
            </div>
            <div class="col">

            </div>
        </div>
    {% endfor %}

    <div class="row">
        <button id="add-student" class="btn btn-primary" type="button" name="button">
                <a class="text-white" href="{% url 'registration:add_student' %}">
                    Add Student
                </a>
        </button>
    </div>
    <div class="row p-3 align-items-center mx-auto">
        <div class="col-12">
            <h3> Address </h3>
        </div>
    </div>
    <div class="row">
        {{ student_family.street }} </br>
        {{ student_family.city }} {{ student_family.state }} {{ student_family.post_code }} </br>
        {{ student_family.phone }}
    </div>
    {% if user.is_instructor %}
        <div class="row p-3 align-items-center mx-auto">
            <div class="col-12">
                <h3> Instructor </h3>
            </div>
        </div>
        <div class="row p-3 mx-auto">
            <div class="col-12">
                {{ user.instructor_expire_date }}
            </div>
        </div>
    {% endif %}
{% endblock %}