{% extends 'base.html' %}

{% block script %}
<script type="text/javascript">
$(document).ready(function() {
    $("#add-student").modalForm({
        formURL: "{% url 'registration:add_student' %}"
    });
});
</script>
{% endblock %}
{% block title %} Index {% endblock %}

{% block main %}
<h2> Profile Page </h2>
    {% for student in students %}
        <div class="row">
            {{ student.first_name }}
        </div>
    {% endfor %}
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
      </div>
    </div>
    <div class="row">
        <button id="add-student" class="btn btn-primary" type="button" name="button">
            Add Student
        </button>
    </div>
{% endblock %}