{% extends 'base.html' %}

{% block title %} Profile {% endblock %}
{% block script %}
    {% load static %}
    <script src="{% static 'js/profile.js' %}"></script>
{% endblock %}

{% block main %}
    <div class="row p-3 align-items-center mx-auto">
        <div class="col-12">
            <h2> Profile Page </h2>
        </div>
    </div>
    <div class="row p-3 align-items-center mx-auto">
        <div class="col-12">
            <h3> Students </h3>
        </div>
    </div>
    <div class="p-3" id="student-table-div"></div>

    <div class="row p-2" id="student_add_div"></div>

    <div class="row p-3">
        <button id="btn-add-student" class="btn btn-primary" type="button" name="button">
            Add Student
        </button>
    </div>

    <div class="row p-3 align-items-center mx-auto">
        <div class="col-12">
            <h3> Address </h3>
        </div>
    </div>
    <div id="student-family-form" class="row p-3"></div>
    <div id="student-family-address" class="row p-3">
        <div class="col">
            <div id="address1" class="row">{{ student_family.street }} </div>
            <div id="address2" class="row">
                {{ student_family.city }} {{ student_family.state }} {{ student_family.post_code }}
            </div>
            <div id="phone" class="row">{{ student_family.phone }}</div>
            <div class="row">
                <button id="btn-address-edit" class="btn btn-primary" type="button" name="button"
                        family_id="{{ student_family.id }}">
                    Edit Address
                </button>
            </div>
        </div>
    </div>
    <div class="row p-3" id="theme-div">
        <form method="post">{% csrf_token %}
            {{ theme_form.as_p }}
            <input id="theme-submit" class="btn btn-primary" type="submit" value="Update Theme">
        </form>
    </div>
    <div id="can-register" class="row pt-3">
        Now that you have added a student you can&nbsp;
        <a href="{% url 'registration:class_registration' %}">register</a>
        &nbsp;for a class. You can also click on Classes in the nav bar.
    </div>
    {% if user.is_instructor %}
        <div class="row p-3 align-items-center mx-auto">
            <div class="col-12">
                <h3> Instructor </h3>
            </div>
        </div>
        <div class="row p-3 mx-auto">
            <div class="col-12">
                {{ user.instructor_expire_date }}
            </div>
        </div>
    {% endif %}
{% endblock %}