{% extends 'base.html' %}

{% block title %}
    Register
{% endblock %}


{% block main %}

    <div class="row">
        <div class="col">
            Thank you for joining. The following information is required.
        </div>
    </div>

    {% if message %}
        <div class="row" message_text="{{ message }}" id="message"><h3>"{{ message }}"</h3></div>
    {% endif %}

    <form method="post" action="{% url 'registration:student_register' %}" autocomplete="off" class="form">
    {% csrf_token %}
        <div class="row">
                <div class="input-group input-group-md">
                    {{ form.street }}
<!--                    <input type="text" name="id" hidden disabled value="{{ membership_id }}">-->
                </div>
        </div>

        <div class="row">
                <div class="input-group input-group-md">
                    {{ form.city }}
                    {{ form.state }}
                    {{ form.post_code }}
                </div>
        </div>

        <div class="row">
            <div class="input-group input-group-md">
                {{ form.phone }}
            </div>
        </div>
    <button class="btn btn-primary" type="submit"> Sign Up</button>
    </form>
{% endblock %}