{% extends 'base.html' %}
{% block title %}
    Payment Form
{% endblock %}

{% block script %}
    {% load static %}
    <!-- link to the SqPaymentForm library -->
    <script type="text/javascript" src="{{ paydict.pay_url }}"></script>

    <script type="application/javascript">
        window.applicationId = '{{ paydict.app_id }}';
        window.locationId = '{{ paydict.location_id }}';
    </script>

    <!-- link to the local SqPaymentForm initialization -->
    <script src="{% static 'js/sq-payment-form.js' %}"></script>

    <!-- link to the custom styles for SqPaymentForm -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/sq-payment-form.css' %}">
{% endblock %}

{% block main %}
  <div class="row hidden">
    <div class="col" id="message"> {{ message }}</div>
  </div>
  <div class="p-1">
    <div class="row"><h4>Purchase Items</h4></div>
    <div class="row table_head">
      <div class="col-md">
        <strong>Item</strong>
      </div>
      <div class="col-md-2">
        <strong>Quanity</strong>
      </div>
      <div class="col-md-2">
        <strong>Amount each</strong>
      </div>
      <div class="col-md-2">
        <strong>Amount</strong>
      </div>
    </div>

    {% for row in rows %}
      <div class="row table_row border">
        <div class="col-md">
          {{ row.name }}
        </div>
        <div class="col-md-2">
          {{ row.quantity }}
        </div>
        <div class="col-md-2">
          {{ row.amount_each }}
        </div>
        <div class="col-md-2">
          {{ row.amount_total }}
        </div>
      </div>
    {% endfor %}
      <div class="row table_row border border-top-0">
        <div class="col-md">
          Donation
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2">
          <input type="number" value="0" id="donation">
        </div>
      </div>
      <div class="row table_row border border-top-0">
        <div class="col-md">
          Total
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2" id="total-div">
          {{ total }}
        </div>
      </div>
  </div>

  {% if bypass %}
    <div class="row p-2">
      <form method="post" autocomplete="off" class="form">
        {% csrf_token %}
        <input type="hidden" id="bypass" name="bypass" value="">
          <button class="btn btn-primary m-2" type="submit" id="id_submit">Comp</button>
      </form>
    </div>
  {% endif %}
  <div class="row p-3">
    Payments are processed with Square. Your credit card information is not stored on our servers.
  </div>
  <div class="row">
      <form class="col" id="payment-form" novalidate action="/process_payment" method="post">
        {% csrf_token %}
        <input type="hidden" id="sq_token" name="sq_token" url="{% url 'registration:payment' %}" value="">
        <div id="card-container"></div>
        <button class="btn btn-primary m-2" id="card-button" type="button"> Pay Now </button>
      </form>
  </div>
  <div class="row p-3">
    <div class="col" id="payment-status-container"></div>
    <div class="col" >
      <a id="receipt" href=""> Reciept </a>
    </div>
    <div class="col" >
      <a id="index-link" href="{% url 'registration:index'%}"> Home </a>
    </div>
  </div>

{% endblock %}
