{% extends 'base.html' %}

{% block title %} Announcement Form {% endblock %}

{% load static %}
{% block script %}
    <script src="{% static 'js/announcement.js' %}"></script>
{% endblock %}

{% block main %}
    <div class="row" message_text="{{ message }}" hidden id="message"><h3>"{{ message }}"</h3></div>

    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary m-2" type="button" id="btn-announcement-preview">Preview</button>
        <button class="btn btn-primary m-2" type="submit" name="button">Submit</button>
    </form>
    Preview:
    <div class="row border">

        <div class="container" id="announcement-container"></div>
    </div>
{% endblock %}
