{% extends 'base.html' %}

{% block title %} Range Rules {% endblock %}

{% block main %}

    <h1 class="text-center"> Range Rules </h1>
    <p>
        <strong>This is a public archery range - all persons must without exception operate under the following rules.
        </strong> These rules are mandatory and are for the protection and safety of all archers. If you observe unsafe
        behavior, report it immediately to the Range Master, a Park Ranger or LAPD (LAPD Park Police at 213-978-4600).
    </p>
    <h2>Short Range (Covered Range)</h2>
    <div class="ps-4">
        <ul>
            <li>Enter and shoot at your own risk</li>
            <li>Archers are expected to be courteous and cooperative on the range at all times</li>
            <li>Broadheads & crossbows are strictly prohibited</li>
            <li>Dogs are not allowed near the shooting lines and must be on a leash at all times</li>
            <li>No running or playing on the range</li>
            <li>Smoking is not allowed on the range</li>
            <li>No alcohol is permitted on the range</li>
            <li>No loud talking, noises, or musical devices allowed</li>
            <li>All shooting must be done from the 18 meter shooting line unless a WPA authorized class is in session</li>
            <li>Archers must straddle the shooting line (one foot on each side)</li>
            <li>Arrows must always point downrange</li>
            <li>Skydraws are not allowed</li>
            <li>When done shooting, step off the shooting line so that other archers know you are done</li>
            <li>Instruction by WPA Authorized instructors ... </li>
        </ul>
        <h4>Whistle Commands</h4>
        <p>
            <strong>2 Whistle Blasts:</strong> Straddle the shooting line<br>
            <strong>1 Whistle Blast:</strong> Begin Shooting<br>
            <strong>3 Whistle Blasts:</strong> Retrieve arrows<br>
            <strong>5+ Whistle Blasts:</strong> EMERGENCY! Cease fire, unload, and do not move. Wait for further instructions.
        </p>
        <h4>Verbal Commands</h4>
        <p>
            <strong>CLEAR:</strong> When all archers are done shooting, anyone may call CLEAR. All archers should repeat
            CLEAR, and then retrieve arrows<br>
            <strong>RANGE IS HOT:</strong> When the range is busy/crowded, this command tells archers they may begin shooting
            again. CHECK CAREFULLY that no archers are down range ANYWHERE before issuing this command or shooting.<br>
            <strong>CEASE FIRE:</strong> This is an emergency and everyone must stop shooting, remove their arrows from the
            bow, and carefully observe the range for what the situation may be. Wait until the person calling a CEASE FIRE
            gives the OK to resume.
        </p>
        <h4>Safety is our top priority! All archers are responsible for safety!</h4>
        <p>
            All archers may ask any archer to stop doing something that is unsafe and to read and follow these rules.
            Additional rules and procedures may be posted anywhere on the range by the WPA board AND MUST BE FOLLOWED. Any
            archer refusing to shoot safely may be asked to leave. To enforce these rules, if necessary, archers may call:
            <strong>Office of Public Safety: 323-912-7390.</strong> The Wildlife reserve address is 6350 Woodley Ave,
            Van Nuys, CA, 91406
        </p>
    </div>

    <h2>Long Range</h2>
    <div class="ps-4">
        <p>
            All archers are to shoot from the designated shooting line only. No exceptions.
        </p>
        <p>
            No archer may shoot if another archer is down range. All persons must be clear of the down range area
            before shooting can commence. No exceptions.
        </p>
        <p>
            <strong>IMPORTANT - RULES FOR RETRIEVING ARROWS</strong> There are two outdoor ranges, a <strong>West
            Range</strong> and an <strong>East Range.</strong> The <strong>West</strong> range has long distance targets
            and the <strong>EAST</strong> range has shorter distances.
        </p>
    </div>
    <ul class="ps-5">
        <li>
            The WEST and EAST ranges can run independently of each other. However, <strong>ALL archers must shoot
            and retrieve arrows at the same time on the range they are shooting on.</strong>
        </li>
        <li>
            When all persons are on the behind the shooting line and it is confirmed that no one is down range,
            shout (West or East) "Range is Live" for the range you are on <strong>EXAMPLE: "West range is live" or
            "East range is live"</strong>.
        </li>
        <li>
            Arrows must not be shot unless all archers are on or behind the shooting line for that range. Arrows may
            not be retrieved while any archer is shooting on that range.
        </li>
        <li>
            If present, the direction of the Range Master must be followed at all times. If a Range Master is on
            duty, all users must clearly communicate arrow retrieval intervals with each other.
        </li>
        <li>
            When the last person on the shooting line has finished and stepped behind the shooting line and the line
            is clear, shout "WEST Range Clear" (if you are on the WEST Range) and "EAST Range Clear" (if you are on
            the EAST Range).
        </li>
        <li>
            Everyone retrieves arrows in UNISON for the Range you are on. No Exceptions
        </li>
        <li>
            If you are the last on the shooting line, be courteous and don't make others wait for you to finish
            shooting additional arrows. When retrieving arrows, do so in a timely manner so archers are not waiting
            for your return to the shooting line before shooting can commence.
        </li>
        <li>
            <strong>No sky draws.</strong> Do not raise the arrow point higher than the top of the bale when
            drawing the bow.
        </li>
        <li>
            Arrows are to be <strong>pointed down range</strong> at all times once the arrow is drawn from the quiver.
        </li>
        <li>
            Arrows must be aimed and released at target butts only. Do not shoot across lanes. <strong>Never</strong>
            point a loaded arrow at anything other than the target directly in front of you.
        </li>
        <li>
            No placement of any temporary (portable) targets or target butts on the rage except directly in front of
            permanent target butts. Any portable target must have its own stand and backstop.
        </li>
        <li>
            Spectators must remain behind the shooting line at all times. Be respectful of archers' concentration
            and do not attempt to distract them.
        </li>
        <li>
            Shooting is permitted only from the designated shooting line. No one may shoot in front of or behind the
            shooting line. (The organized Clout Round shooting near the west fence is the only exception.)
        </li>
        <li>
            Archers under 18 years of age must be accompanied and directly supervised by an adult at all times while
            on the range.
        </li>
        <li>
            <strong>This range is for target arrows only. No hunting broadheads or practice broadheads of any kind allowed.
            No exceptions.</strong>
        </li>
        <li>
            No disruptive or loud behavior. Be considerate to all archers and spectators.
        </li>
        <li>
            No unsolicited coaching or unauthorized instruction.
        </li>
    </ul>

    <button id="go-back-button" class="btn btn-primary">Go Back</button>


{% endblock %}
