{% extends 'base.html' %}

{% block title %} Staff List {% endblock %}


{% load static %}

{% block main %}
    <div class="row justify-content-center">
        <div class="text-center">
            <h2> Active Volunteer Staff List </h2>
        </div>
    </div>
    
    {% for staff in object_list %}
        <div class="row border m-2" style="background-color: whitesmoke; color: white;">
            <div class="flex-row justify-content-between" style="padding: 16px; background-color: black;">
                <h4>{{ staff.first_name }}</h4>
                <span sytle="float: left;">
                    {% if staff.user.is_board and staff.user.is_instructor%}
                        Board Member and Instructor
                    {% elif staff.user.is_board %}
                        Board Member
                    {% elif staff.user.is_instructor %}
                        Instructor
                    {% else %}
                        Staff
                    {% endif %}
                </span>
                <br>
                <div>
                    {% if user.is_superuser %}
                        {% if staff.staffprofile_set.last %}
                            <a href="{% url 'info:staff_profile_form' staff.staffprofile_set.last.id %}" role="button"
                            class="btn btn-primary btn-sm m-1"> Edit Profile</a>
                        {% else %}
                            <a href="{% url 'info:staff_profile_form' %}" role="button"
                            class="btn btn-primary btn-sm m-1"> Add Profile</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            {% if staff.staffprofile_set.last %}
                <div class="d-flex flex-row">
                    <div class="container" style="padding: 16px; color: black;">
                        {% if staff.staffprofile_set.last.image %}
                            <img class="rounded float-start img-max-300-ar m-2" src="{{ staff.staffprofile_set.last.image.url }}">
                        {% endif %}
                        {{ staff.staffprofile_set.last.bio|safe }}
                    </div>
                </div>
            {% endif %}
        </div>
    {% endfor %}

{% endblock %}
