{% extends "email/email_layout.html" %}
{% block main %}
    <p style=" line-height: 100%; align: left; font-family: arial, sans-serif; color: black; margin: 10px;">
        Hi,
    </p>
    <p style=" line-height: 100%; align: left; font-family: arial, sans-serif; color: black; margin: 10px;">
        Either you or a member of your family is on the wait-list for a class on {{ beginner_class.event.event_date }} You
        may show up at the range and if there is space we can let you in. Space is not guaranteed, but you will most
        likely get in.
    </p>
    <p style=" line-height: 100%; align: left; font-family: arial, sans-serif; color: black; margin: 10px;">
        Please plan to be at the range {{ minutes }} minutes prior to the class to allow us to sign you in.
        {% if beginner_class.class_type == 'beginner' %} Students that arrive past {{ beginner_class.event.event_date|time }}
        will not be allowed to participate.{% endif %}
    </p>
    <p style=" line-height: 100%; align: left; font-family: arial, sans-serif; color: black; margin: 10px;">
        {% include "program_app/covid_policy.txt" %}
    </p>
    <p style=" line-height: 100%; align: left; font-family: arial, sans-serif; color: black; margin: 10px;">
        If for any reason you can't make it, please cancel your registration by going
        <a href="https://woodleyparkarchers.org/">here</a>.
    </p>
    <p style=" line-height: 100%; align: left; font-family: arial, sans-serif; color: black; margin: 10px;">
        <a href="https://woodleyparkarchers.org/">WoodleyParkArchers.org</a>
    </p>
    <p style=" line-height: 100%; align: left; font-family: arial, sans-serif; color: black; margin: 10px;">
        <a href="https://www.facebook.com/pages/Woodley-Park-Archers/131056656971079">Facebook: Woodley Park Archers</a>
    </p>
{% endblock %}
