{% extends "email/email_layout.html" %}
{% block main %}
    <p style=" line-height: 100%; align: left; font-family: arial, sans-serif; color: black; margin: 10px;">
        Hi,
    </p>
    <p style=" line-height: 100%; align: left; font-family: arial, sans-serif; color: black; margin: 10px;">
        The following students have been added to the wait list for a class on {{ event.event_date }}
        If {% if registrations.count == 1 %}a spot opens{% else %}{{ registrations.count }} spots open{% endif %} up
        you will get an email notification of the update in status and any charges that incur.
    </p>
    {% for registration in registrations %}
        <p style=" line-height: 100%; align: left; font-family: arial, sans-serif; color: black; margin: 10px;">
            {{ registration.student.first_name }} {{ registration.student.last_name }}
        </p>
    {% endfor %}
    <p style=" line-height: 100%; align: left; font-family: arial, sans-serif; color: black; margin: 10px;">
        If for any reason you can't make it, please cancel your registration by going
        <a href="https://woodleyparkarchers.org/">here</a>.
    </p>
    <p style=" line-height: 100%; align: left; font-family: arial, sans-serif; color: black; margin: 10px;">
        <a href="https://woodleyparkarchers.org/">WoodleyParkArchers.org</a>
    </p>
    <p style=" line-height: 100%; align: left; font-family: arial, sans-serif; color: black; margin: 10px;">
        <a href="https://www.facebook.com/pages/Woodley-Park-Archers/131056656971079">Facebook: Woodley Park Archers</a>
    </p>
{% endblock %}
