<form class="col form" id="unreg_form" method="post" action="{% url 'programs:class_registered_table' %}" autocomplete="off">
    {% csrf_token %}
    <div class="row">
        <div class="col border"> Class Date</div>
        <div class="col border"> First Name </div>
        <div class="col border"> Last Name </div>
        <div class="col border">Payment Status</div>
        <div class="col border"> Unregister </div>
    </div>
    {% for class in enrolled_classes %}
        <div class="row">
            <div class="col border"> {{ class.beginner_class.class_date }} </div>
            <div class="col border">
                {{ class.student.first_name }}
                <input type="hidden" id="cost_{{ class.id }}" value="{{ class.beginner_class.cost }}">
            </div>
            <div class="col border"> {{ class.student.last_name }} </div>
            <div class="col border pay_status" curl="{% url 'programs:class_registration' class.id %}">
                {{ class.pay_status }}
            </div>
            <div class="col border">
                <input type="checkbox" class_id={{ class.id }} class="m-2 unreg" id="check_{{ class.id }}">
            </div>
        </div>
    {% endfor %}
    <div class="row p-2">
        <input type="checkbox" class="m-2" id="donation">
        I wish to donate my refund to Woodley Park Archers
    </div>
    <div class="row p-2">
        <button class="btn btn-primary" type="submit">Unregister</button>
    </div>
</form>