<table class="table table-bordered">
    <thead>
        <tr>
            <th> Name </th>
            <th> Classes Registered </th>
            <th> Classes Attended </th>
        </tr>
    </thead>
    <tbody>
    {% for student in students %}
        <tr>
            <td> {{ student.first_name }} {{ student.last_name }}</td>
            <td> {{ student.registration_set.attendance_intro.registrations }} </td>
            <td> {{ student.registration_set.attendance_intro.attended }} </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

