<tr>
    <td>
        {% if user.is_board %}
            <a href="{% url 'registration:search_result' cr.student.student_family.id %}">
                {{ cr.student.first_name }}
            </a>
        {% else %}
            {{ cr.student.first_name }}
        {% endif %}
    </td>
    <td>{{ cr.student.last_name }}</td>
    <td class="{% if cr.student.dob > form.adult_dob %} text-warning {% endif %}">{{ cr.student.dob }}</td>
    <td>
        {% if form.is_closed %}
            {% if cr.pay_status == 'waiting' %}
                <a href="{% url 'programs:admit_wait' cr.beginner_class.id cr.student.student_family.id %}">Admit</a>
            {% else %}
                {% if cr.student.signature or cr.student.user.is_staff %}
                    <input type="checkbox" class="m-2 attend-check" id="check_{{ cr.student.id }}"
                       attend_url="{% url 'programs:class_attend' cr.id %}"
                       {% if cr.attended %} checked="checked" {% endif %}>
                {% endif %}
                <a href="{% url 'programs:class_sign_in' cr.id %}">
                    {% if cr.student.signature %}
                        Update Signature
                    {% else %}
                        Signature Required
                    {% endif %}
                </a>
            {% endif %}
        {% endif %}
    </td>
    <td>
        {% if form.is_closed %}
            <input type="checkbox" class="m-2 attend-check"
               attend_url="{% url 'registration:covid_vax' cr.student.id %}"  id="covid_vax_{{ cr.student.id }}"
            {% if cr.student.covid_vax %} checked="checked" {% endif %}>
        {% endif %}
    </td>
    <td>{{ cr.student.registration_set.attendance_intro.attended }}/{{ cr.student.registration_set.attendance_intro.registrations }}</td>
</tr>
