<div id="cancel-preview" class="row">
    <p><h4>Cancel message preview:</h4> Updating the cancel message above will change the message below.</p>
    <div class="ms-3">
        <p>Hi &ltname&gt,</p>
        <p>The {{ event_type }} event on {{ event }} has been canceled <span id="message-insert">{{ message }}</span>.</p>
        {% if refund %}
            <p>
                Your refund with Woodley Park Archers has successfully been sent to square for processing. Please allow 5 to 10
                business days for the refund to process.
            </p>
        {% endif %}
        <p>
            http://woodleyparkarchers.org/">WoodleyParkArchers.org</br>
            http://www.facebook.com/pages/Woodley-Park-Archers/131056656971079
        </p>
    </div>
</div>

