{% extends 'base.html' %}

{% block title %} Volunteer Event List {% endblock %}

{% block main %}
    <div class="row p-2" message_text="{{ message }}" hidden id="message"><h3>"{{ message }}"</h3></div>
    <div class="row p-2">
        <p>
            Below are our currently available volunteering opportunities.
        </p>
    </div>
    <div class="row p-2">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>State</th>
                    <th>Volunteers</th>
                    <th>Description</th>
                    <th>Register</th>
                </tr>
            </thead>
            <tbody>
                {% for c in object_list %}
                    <tr>
                        <td>
                            <a class="nav-link" href="{% url 'events:event_attend_list' c.event.id %}">
                                {{ c.event.event_date }}
                            </a>
                        </td>
                        <td>{{ c.event.state }}</td>
                        <td>{{ c.event.registration_set.registered_count }}/{{ c.volunteer_limit }}</td>
                        <td>{{ c.description }}</td>
                        <td>
                            {% if c.event.state == 'open' %}
                                <a role="button" class="btn btn-primary m-1" href="{% url 'events:registration' c.event.id %}">
                                    Register
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'student_app/paginate.html' %}
    <div class="row p-2">
        <div class="col">
            {% if past %}
                <a class="nav-link" href="{% url 'events:volunteer_event_list' %}">
                    View upcoming events
                </a>
            {% else %}
                <a class="nav-link" href="{% url 'events:volunteer_event_list' 1 %}">
                    View past events
                </a>
            {% endif %}
        </div>

        {% if user.is_board %}
            <div class="col">
                <a class="nav-link" href="{% url 'events:volunteer_event' %}">
                    Add
                </a>
            </div>
        {% endif %}
    </div>

{% endblock %}

