# .coveragerc to control coverage.py
[run]
omit=
    wpa_project/*
    manage.py
    *temp_tests.py
    student_app/management/commands/*
    */tests/*

    # minutes/*
    # membership/*
    # payment/*
    # program_app/*
    # student_app/*

  # pragma: no cover