<div class="row">
    <div class="col">
        <div class="row">
            {% csrf_token %}
            <input id="business-update-id" value="{{ update.id }}" style="display: none;">
            {{ update.form.business }}
            <div class="col-1"></div>
            <div class="col">
                {{ update.form.update_text }}
            </div>
            <div class="col-2">
                <div class="row">
                    {{ update.form.update_date.label }} {{ update.form.update_date }}
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>