<div class="row business-div" id="business-div-{{ business.form.report_index }}">
    <div class="col">
        <div class="row">
            {% csrf_token %}
            {{ business.form.business_id }}
            {{ business.form.minutes }}
            <div class="col">
                {{ business.form.business }}
            </div>
            <div class="col-2">
                {{ business.form.added_date.label }} {{ business.form.added_date }}
            </div>
        </div>
        <div class="div-business-update" id="div-business-update-{{ business.form.report_index }}">
            {% for update in business.updates%}
                {% include "minutes/forms/business_update_form.html" %}
            {% endfor %}
        </div>

        <div class="row">
            <div class="col">
                {% if user.is_board %}
                    <button id="btn-add-update-{{ business.form.report_index }}" class="btn btn-primary btn-update-business">
                        Add Update
                    </button>
                {% endif %}
            </div>
            <div class="col"></div>
            <div class="col form-check mb-3">
                    {% if user.is_board %}
                    <label class="form-check-label">
                        {{ business.form.resolved_bool }} Resolved
                    </label>
                    {% endif %}
            </div>

        </div>
    </div>
</div>