{% load tz %}
<div class="row">
    <div class="col">
        <div class="row div-update-row">
            {% csrf_token %}
            {{ update.form.update_id}}
            {{ update.form.business }}
            <div class="col-1"></div>
            <div class="col">
                {{ update.form.update_text }}
            </div>
            <div class="col-2">
                <div class="row m-2">
                    Update Date: {{ update.form.update_date }}
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>